<html>
<head>
    <title>Shortened URL</title>
</head>
<body>
    <h1>Your Shortened URL</h1>
    <a href="<%= shortUrl %>"><%= shortUrl %></a>
    <br>
    <a href="/">Shorten Another</a>
</body>
</html>
